<label for="genero">Genero</label>
<select class="form-select form-control" id="genero" name="genero">

    <option value=""></option>
    <option value="Açao"> Ação</option>
    <option value="Autoajuda"> Autoajuda</option>
    <option value="Comedia"> Comédia</option>
    <option value="Fantasia"> Fantasia</option>
    <option value="Ficcao"> Ficção</option>
    <option value="Historia"> História</option>
    <option value="Religiao"> Religiao</option>
    <option value="Romance"> Romance</option>
    <option value="Suspense"> Suspense</option>
    <option value="Terror"> Terror</option>

</select>