body {
    background-color: #f5f5f5;
}


header {

    nav {
        background-color: #f95842;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // padding: 10px 50px;

        padding: 2% 12%;
        width: 100vw;
        height: 12vh;




        a {

            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            color: #000;
            margin: left 40px;

            ;
            // text-decoration:none;
            transition: all 0.3s ease-in-out;

            &:hover {
                text-decoration: none;
                background-color: rgba(0, 0, 0, 0.58);
                color: white;
            }

        }

        img {
            width: 50px;
            height: 50px;
        }

        .menu {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;

            li {
                margin-left: 20px;


            }


        }


    }



}

.container_pagina {
    display: flex;

    aside {
        width: 22rem;
        height: 100%;
        // background-color: gray;
        display: flex;
        flex-direction: column;
        align-items: center;
        float: left;
    }

    #livros-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        background-color: #FFF;
        padding: 2rem 5rem;
        width: 135rem;
        height: 70%;

    }
}


.card {

    
    width: 12rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    
    .card-body{
        display: flex;
        flex-direction: column;
        align-content: space-around;
        justify-content: space-around;
        align-items: stretch;
      }
}

#conteudo_sobrenos {
    width: 900px;
    min-height: 900px;
    height: auto;
    margin: auto;
    background-image: url('../img/livro.png');
    background-repeat: no-repeat;
    background-position: right bottom;



    p {
        font-size: 16px;
        padding: 2%;
    }

    .left {
        float: left;
        margin: 2%;
    }

    .right {
        float: right;
        margin: 2%;
    }

    #vilela {
        border-radius: 90%;
        border: 2px solid #f95842;
    }

    #nery {
        border-radius: 50%;
        border: 2px solid #f95842;
        float: right;
    }


}

#imagem-container {

    img {
        width: 250px;
        height: 250px;
    }

}

footer {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;

    i {
        color: #000;

    }

    p {
        margin-bottom: 10px;
    }

    img {
        width: 30px;
        height: 30px;
    }

}

#conteudo_cadlivro {
    width: 900px;
    height: auto;
    margin: auto;
    background-image: url('../img/livro.png');
    background-repeat: no-repeat;
    background-position: right bottom;
}

#conteudo_contact {
    width: 900px;
    height: auto;
    margin: auto;
    background-image: url('../img/livro.png');
    background-repeat: no-repeat;
    background-position: right bottom;
}
#doador{
    width: 900px;
    height: auto;
    margin: auto;
    background-image: url('../img/livro.png');
    background-repeat: no-repeat;
    background-position: right bottom;
}
h1,
h2 {
    text-align: center;
}
#campo_imagem{
    width: 10rem;
    margin: 1rem;
    align-self: center;
    border: 2px solid #f95842 ;
    margin-right: 300px;
    
}

@media screen and (max-width: 899px){
    #campo_imagem{
        display: none;
    }
    .cont{
        width: 90%;
    }
    .form-control{
        flex-direction: column;
        overflow: scroll;
        flex-wrap: nowrap;
        max-height: 15rem;
        padding-right: 5rem;
        margin-top: 2rem;
    }
    #conteudo_sobrenos{
        width: 90%;
        height: auto;
    }

    #doador{
        width: 90%;
        height: auto;
    }


}